* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Inicio Barra Social*/
.social {
	position: fixed;
	left: 0;
	top: 350px;
	z-index: 2000;
}

.social ul{
	list-style: none;

}

.social ul li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding:10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li .icon-facebook {background: #3b5998;}
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-youtube {background: #ae181f;}

.social ul li a:hover{
	padding: 10px 30px;
	background: #000;
}

/* Fin Barra Social */

#contenedor {
	width: 1000px;
	height: auto;
	margin: auto;
	padding: 0;
	position: relative;
}

body {
	background-image: url(../img/back.png);
	background-repeat: repeat;
}


header{
	margin-top:10px; /*Simplemente agregamos un margen*/
    width: 1000px;
    height: 350px; /*Le damos un alto fijo al menu*/
    overflow: hidden; /*Agregamos un overflow hidden para que no se muestren elementos que sobrepasen los 350px de alto*/
    position: relative;  /*Convertimos el menu en posición relativa porque mas adelante en el header > nav pondremos una posición absoluta*/
}

/* Inicia Menu */

nav {
	top:-10px;
	position: absolute;
    left:0;
    right:0;    
    margin:0px auto;
    max-width:1000px;
    width:100%;
}

nav ul {
	list-style: none;
}

nav > ul {
	display: table;
	width: 100%;
	background: #000;
	position: relative;
}

nav > ul li {
	display: table-cell;
}

/* Submenu */

nav > ul > li:hover > ul {
	display: block;
	height: 100%;
}

nav > ul > li > ul {
	display: block;
	position: absolute;
	background: #000;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


nav > ul li a {
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
	/* background: #5da5a2; Color alternativo */
	background: #37a4d9;
}

nav > ul > li > a span {
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > a span .icon {
	display: block;
	line-height: 60px;
}

nav > ul > li > a:hover > span {
	top: 0;
}

/* colores*/

nav ul li a .primero {
	background: #0e5061;
}

nav ul li a .segundo {
	background: #5da5a2;
}

nav ul li a .tercero {
	background: #f25724;
}

nav ul li a .cuarto {
	background: #174459
}

nav ul li a .quinto {
	background: #37a4d9;
}

/* Fin Menu */



/* Inicio Boton Arriba */

.ir-arriba {
	display: none;
	padding: 20px;
	background: #B5B5B5;
	font-size: 25px;
	color: #000;
	cursor: pointer;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/* Final Boton Arriba */



/* Seccion */
section {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 595px;
	height: auto;
	float: left;
	background-color: #fff;
}

section > article h2 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
section > article > p {
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

/* Pagina Inicio */
.inicio{
	height: 1050px;
}

.inicio h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.objetivos {
	text-align: left;
	margin-left: 60px;
	margin-right: 15px;
}
/* Fin pagina inicio */

/* pagina Plancone */
.plancone {
	height: 2100px;
}

.plancone h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.plancone h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}
/* Fin pagina Plancone */

/* pagina Planrta */
.planrta {
	height: 1110px;
}

.planrta h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.planrta h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}

.sugerencias{
	text-align: left;
	margin-left: 60px;
	margin-right: 15px;
}
/* Fin pagina Planrta*/

/* pagina GobiernoTI */
.gobiernoti {
	height: 1450px;
}

.gobiernoti h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.gobiernoti h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}

.guiones{
	text-align: left;
	margin-left: 60px;
	margin-right: 15px;
}
/* Fin pagina GobiernoTI*/

/* pagina Cobit */
.cobit {
	height: 850px;
}

.cobit h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.cobit h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}
/* Fin pagina Cobit */

/* pagina ITIL */
.itil {
	height: 800px;
}

.itil h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.itil h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}
/* Fin pagina ITIL */

/* pagina Normas */
.normas {
	height: 550px;
}

.normas h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.normas h4{
	text-align: left;
	margin-left: 15px;
	margin-top: 10px;
}
/* Fin pagina Normas  */

/* pagina Activity 1 */
.activity1 {
	height: 920px;
}

.activity1 h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

/* Fin pagina Activity1  */

/* pagina Activity 2 */
.activity2 {
	height: 950px;
}

.activity2 h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

/* Fin pagina Activity2  */

/* pagina Activity 3 */
.activity3 {
	height: 950px;
}

.activity3 h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

/* Fin pagina Activity3  */

/* Paginas Videos */

.video1{
	margin-top: : 20px;
	margin-bottom: 20px;
}

.videos{
	height: 500px;
}

.videos h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.menumulti{
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menumulti a{
	text-decoration: none;
	color: #000;
}

/* Fin Paginas Videos */

/* Pagina Autores */
.autores{
	height: 900px;
}

.autor{
	margin: 20px;
	font-size: 20px;
}

.autor1{
	padding: 10px;
	margin: 10px;
	border: solid;
	border-width: 2px;
	width: 575px;
	height: 170px;
}

.autor1 div {
	float: left;
	padding: 20px;
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}


.autor2{
	padding: 10px;
	margin: 10px;
	border: solid;
	border-width: 2px;
	width: 575px;
	height: 170px;
}

.autor2 div {
	float: left;
	padding: 20px;
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Fin Pagina Autores */

/* Aside */
aside {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 400px;
	height: auto;
	float: left;
	margin-left: 5px;
	background-color: #F0D792;
}

aside h3{
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

aside p{
	text-align: left;
	margin-left: 15px;
	margin-right: 15px
}

aside .twitter {
	margin:15px 15px;
	width: 370px;
	height: 300px;
}


/* Footer */
footer{
	background-color: #005fbf;
	width: 1000px;
	height: 60px;
	float: left;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer p {
	width: 300px;
	height: auto;
	padding-left: 15px;
	padding-top: 10px;
	font-family: verdana;
	font-size: 13px;
	color: #ffffff;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}